<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <div class="formContainer">
      <h1 class="formTitle">New Message</h1>
      <form method="post" action="/new">
        <div class="fieldContainer">
          <label for="user">Name</label>
          <input
            class="formInput"
            type="text"
            id="user"
            name="user"
            placeholder="your name here"
          />
        </div>
        <div class="fieldContainer">
          <label for="message">Message</label>
          <textarea
            class="formInput"
            type="text"
            id="message"
            name="messageText"
            placeholder="your message here"
          ></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
