<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <section id="messageDisplay">
      <div class="messageContainer">
        <% messages.forEach((message) => { %> <%- include('message', { text:
        message.text, user: message.user }) %> <% }) %>
      </div>
      <a class="newMessage" href="/new">New Message</a>
    </section>
  </body>
</html>
